################################
# OS
################################
.DS_Store

################################
# Environment variables / secrets
################################
.env
.env-*
!.env.example

################################
# Python
################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Virtual environments (custom names included)
.venv/
venv/
.venv.*
*/.venv*
developement/**/.venv*

################################
# Node / Frontend (if/when added)
################################
node_modules/
.next/
out/
dist/

################################
# Logs
################################
*.log

################################
# IDEs
################################
.vscode/
.idea/

################################
# Effnet
################################
*.pb

################################
# Song files
################################
downloads/