bandcamp-downloader==0.0.17
beautifulsoup4==4.14.3
certifi==2025.11.12
charset-normalizer==3.4.4
demjson3==3.0.6
dotenv==0.9.9
essentia==2.1b6.dev1389
essentia-tensorflow==2.1b6.dev1389
greenlet==3.3.0
idna==3.11
mutagen==1.47.0
numpy==2.4.0
playwright==1.57.0
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0
pyee==13.0.0
python-dotenv==1.2.1
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
soupsieve==2.8.1
typing_extensions==4.15.0
unicode-slugify==0.1.5
Unidecode==1.4.0
urllib3==2.6.2
